<?xml version="1.0"?>
<!--
    - Base      : kobuki
    - Stacks    : hexagons
    - 3d Sensor : kinect
    - laser     : hokuyo_30lx
-->    
<robot name="turtlebot" xmlns:xacro="http://ros.org/wiki/xacro">

  <xacro:include filename="$(find turtlebot_description)/urdf/turtlebot_library.urdf.xacro" />
  <xacro:include filename="$(find tams_turtlebot_description)/urdf/sensors/hokuyo_30lx.urdf.xacro" />
  
  <kobuki/>
  <stack_hexagons parent="base_link"/>
  <sensor_kinect  parent="base_link"/>
  <!--<hokuyo_30lx    name="laser" parent="base" ros_topic="/scan" update_rate="20" min_angle="-1.57" max_angle="1.57" />-->
  <hokuyo_30lx    parent="base_link"/>
</robot>
