<?xml version="1.0"?>
<launch>

  <!-- map server -->
  <arg name="map" default=""/>
  <arg name="map_navigation" default="$(arg map)" />
  <node name="map_localization" pkg="map_server" type="map_server" args="$(arg map)" />
  <node name="map_navigation" pkg="map_server" type="map_server" args="$(arg map_navigation)" >
    <remap from="map" to="map_navigation"/>
  </node>

  <!-- amcl -->
  <arg name="initial_pose_x" default="$(env TURTLEBOT_HOME_POSE_X)"/>
  <arg name="initial_pose_y" default="$(env TURTLEBOT_HOME_POSE_Y)"/>
  <arg name="initial_pose_a" default="$(env TURTLEBOT_HOME_POSE_A)"/>
  <include file="$(find turtlebot_navigation)/launch/includes/amcl.launch.xml">
    <arg name="initial_pose_x" value="$(arg initial_pose_x)"/>
    <arg name="initial_pose_y" value="$(arg initial_pose_y)"/>
    <arg name="initial_pose_a" value="$(arg initial_pose_a)"/>
  </include>

  <group>
    <remap from="map" to="map_navigation"/>
    <include file="$(find turtlebot_navigation)/launch/includes/move_base.launch.xml">
      <arg name="custom_param_file" value="$(find tams_turtlebot_navigation)/config/laserscan.yaml"/>
    </include>
  </group>

</launch>
