<?xml version="1.0"?>
<launch>
  <include file="$(find turtlebot_bringup)/launch/minimal.launch">
    <arg name="zeroconf" value="false" />
  </include>

  <!-- Navigation -->
  <arg name="use_map" default="true" doc="use the defined map" />
  <arg name="initial_pose_x" default="0.0"/>
  <arg name="initial_pose_y" default="0.0"/>
  <arg name="initial_pose_a" default="0.0"/>

  <include file="$(find turtlebot_navigation)/launch/amcl_demo.launch" if="$(arg use_map)">
      <arg name="map_file" default="$(find tams_turtlebot)/map/tams.yaml"/>
      <arg name="initial_pose_x" value="$(arg initial_pose_x)"/>
      <arg name="initial_pose_y" value="$(arg initial_pose_y)"/>
      <arg name="initial_pose_a" value="$(arg initial_pose_a)"/>
  </include>

  <!-- Laser -->
  <node name="hokuyo_laser" pkg="hokuyo_node" type="hokuyo_node">
    <param name="calibrate_time" type="bool" value="true"/>
    <param name="intensity" type="bool" value="false"/>
    <param name="frame_id" value="/laser_link" />
    <param name="max_ang" type="double" value="2.356194437" />
    <param name="min_ang" type="double" value="-2.35619443" />
    <param name="cluster" value="1"/>
    <remap from="scan" to="laser_scan" />
  </node>

  <!-- Dockiing (start with kubuki_auto_docking servise activate) -->
  <include file="$(find kobuki_auto_docking)/launch/minimal.launch" />

</launch>
