<?xml version="1.0"?>
<launch>

  <!-- kinect -->
  <include file="$(find turtlebot_bringup)/launch/3dsensor.launch">
    <arg name="rgb_processing" value="true" />
    <arg name="depth_registration" value="true" />
    <arg name="depth_processing" value="true" />

    <arg name="3d_sensor" value="kinect" />
    <arg name="scan_topic" value="kinect_scan" />
  </include>

  <!-- laser -->
  <node name="hokuyo_laser" pkg="urg_node" type="urg_node" if="$(eval env('TURTLEBOT_LASER') == 'hokuyo_04lx')">
    <param name="calibrate_time" type="bool" value="true" />
    <param name="intensity" type="bool" value="false" />
    <param name="frame_id" value="/laser_link" />
    <param name="angle_max" type="double" value="2.09234976768" />
    <param name="angle_min" type="double" value="-2.09234976768" />
    <param name="cluster" value="1" />
    <param name="port" value="/dev/laser" />
    <remap from="scan" to="laser_scan" />
  </node>

  <node name="hokuyo_laser" pkg="urg_node" type="urg_node" if="$(eval env('TURTLEBOT_LASER') == 'hokuyo_30lx')">
    <param name="calibrate_time" type="bool" value="true" />
    <param name="intensity" type="bool" value="false" />
    <param name="frame_id" value="/laser_link" />
    <param name="angle_max" type="double" value="2.356194437" />
    <param name="angle_min" type="double" value="-2.35619443" />
    <param name="cluster" value="1" />
    <param name="port" value="/dev/laser" />
    <remap from="scan" to="laser_scan" />
  </node>

  <include file="$(find turlebot_bringup)/launch/laser_filter.launch"/>
  <node name="relay_laser" pkg="topic_tools" type="relay" args="laser_scan_filtered scan" />
  <node name="relay_kinect" pkg="topic_tools" type="relay" args="kinect_scan scan" />

</launch>
