<?xml version="1.0" encoding="UTF-8"?>
<launch>
    <node name="$(anon master_discovery)" pkg="master_discovery_fkie" type="master_discovery" output="log">
        <rosparam param="robot_hosts">[donny,mikey,leo,raph,tams50,tams51,tams52,tams53,tams54,tams43]</rosparam>
    </node>

    <node name="$(anon master_sync)" pkg="master_sync_fkie" type="master_sync">
<rosparam param="sync_services">['']</rosparam>
<rosparam param="sync_topics">
- /turtles
- /*/map_position
- /*/map_metadata
- /*/map
- /*/move_base/goal
- /*/move_base/cancel
- /*/move_base/feedback
- /*/move_base/result
- /*/move_base/status
- /*/move_base_simple/goal
- /*/dock_drive_action/*
- /*/cmd_vel_mux/input/teleop
- /*/initialpose
- /robotsound
</rosparam>
    </node>
</launch>

